.menu_bar {
  height: 60%;
  width: 83%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20%;
  margin: 0 25%;
  font-family: 'Times New Roman', Times, serif
}

.menu_bar ul {
  list-style: none;
  display: flex;
}

.menu_bar ul li {
  padding: 10px 10px;
}

.menu_bar ul li a {
  color: var(--color-white-);
  text-decoration: none;
  font-size: 18px;
  transition: o.3s;
}

.menu_bar ul li a:hover {
  color: goldenrod;
  background-color: dimgrey;
}



.wd{
  width:450px;
  height:600px;
  background-color: black;
  opacity:0.9s;
  padding:5px;
  color:white;
  margin:3% 5%;
}

.wd h1{
  text-align: center;
  text-transform: uppercase;
  foot-weight: 100px;
}

.wd h4{
  text-align: justify;
  color:darkgray;
  foot-weight: normal;
  margin: 2%;
}

.wd h2{
  text-align: center;
  text-transform: uppercase;
  margin: 40px auto;
}

.opt form, input[type="button"] {
  background-color: black;
  color:white;
  padding:10px;
  margin:-14px auto;
  padding-left: 50px;
  padding-right: 50px;
  text-align: center;
}

.form, input[type="button"]:hover {
  background-color: dimgrey;
}
  
.items {
  display:grid;
  grid-template-columns: repeat(3, 1fr);
  padding:10px 10px;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.items img {
  object-fit: cover;
  cursor: pointer;
  transition: o.2s ease;
  width:40%;
  position:relative;
  border-radius: 15px 15px 0 0
}

items img:hover {
  transform: scale(3.04);
}

.items h4 {
  padding:0px;
  text-align: center;
  margin:10% 10%;
}

.items button {
  padding:0px 0px;
  border:none;
  outline:none;
  background-color: #cb202d;
  color:white;
  border:4px;
  cursor: pointer;
  width:60px;
}

.itmes price {
  text-align: center;
}



.items button:hover {
  background-color: deepskyblue;
  color:white;
}

@media screen and(max-width:1000px) {
  .items{
  grid-template-columns: repeat(2,1fr)
}
}

@media screen and(max-width:768px) {
  .items {
    grid-template-columns: repeat(1, 1fr)
  }
}

.md {
  padding: 5px;
  color: white;
  margin: 3% 5%;
  color: whitesmoke;
  font-size: 1.3em;
}

.md h3 {
  text-align: left;
  text-transform: uppercase;
  foot-weight: 100px;
  color:darkorange;
}

.banner {
  display: flex;
  align-items: center;
  color:#fff;
}

.card-container {
  display:grid;
  grid-template-columns: 420px 420px;
}

.card-img {
  width:450px;
  height:350px;
  background-image: url(12345.jpg);
  background-repeat:no-repeat;
  float: center;
}

.banner {
  padding-bottom: 40px;
  margin-bottom: 20px;
}

.card-content {
  background-color: #fff;
  height:350px;
  width:500px;
}

.card-content h2 {
  text-align: center;
  color:#000;
  padding:5px 0 1px 0;
}

*{
  padding: 0;
  margin:0;
  box-sizing: border-box;
}
  
.body {
  background-color: #f3f3f3;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.heading {
  background-color: #cb202d;
  color:#ffffff;
  margin-bottom: 30px;
  padding:30px 0;
  grid-column: 1/-1;
  text-align: center;
}

.heading h1{
  font-weight: 400;
  font-size: 30px;
  letter-spacing: 10px;
  margin-bottom: 10px;
}

.heading h3 {
  font-weight: 600;
  font-size: 22px
}

.menu {
  padding:0 10px 30px 10px;
  display:grid;
  grid-column: repeat(auto-fit);
  grid-gap: 20px 40px;
}

.food-items {
  display:grid;
  position: relative;
  grid-template-columns: repeat(3, 1fr);
  padding:10px 10px;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.food-items img {
  width:40%;
  position:relative;
  border-radius: 15px 15px 0 0
}

.h1 {
  grid-column: 1,-1;
  text-align: center;
}

.details {
  padding: 20px 10px;
  display:grid;
  grid-template-rows: auto 1fr 50px;
  grid-row-gap: auto auto;
}

.details-sub {
  display: grid;
  grid-template-columns: auto auto;
}

.details-sub h5 {
  font-weight: 600;
  font-size: 18px;
}



.details button {
  background-color: #cb202d;
  color: #ffffff;
  font-size: 14px;
  font-weight: 600;
  border-radius: 5px;
  width:60px;
}

*{
  margin:0;
  padding:0;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  box-sizing: border box;
}

.footer {
  margin-top: 75px;
  width:100%;
  padding:100px;
  background-color: #333;
  color:#efefef;
  display:flex;
}

.footer div {
  text-align:center;
}

.col-2 {
  flex-grow: 4;
}

.footer div3 {
  font-weight: 300;
  margin-bottom: 30px;
  letter-spacing: px;
}

.col-1 a {
  display: block; 
  text-decoration: none;
  margin-bottom: 10px;
  color:#efefef;
}

.form input {
  text-align: center;
  width:400px;
  height:45px;
  border-radius: 4px;
  margin-top: 20px;
  margin-bottom: 40px;
  outline:none;
  border:none;
}

.form button{
  background: transparent; border:2px solid #fff; color:#fff;border-radius: 30px; padding:10px;
}

.social-icons {
  margin-top:40px;
  background: transparent;
}

.social-icons i {
  font-size: 30px;
  margin:10px;
  cursor:pointer;
  background: transparent;
  text-decoration:none;
  color:#efefef;
}
